.vs/

#-----------------------------------------
#이건 뭐야
#-----------------------------------------
.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
HISTORY.txt
#-----------------------------------------
#솔루션이랑 프로젝트는 올리는게 맞을듯
#-----------------------------------------



#-----------------------------------------
#빌드파일들
#-----------------------------------------
Server/x64/
Client/x64/
*.obj
*.tlog
*.idb
*.db


